@import '../components/navbar/navbar.css';
@import '../components/header/header';
@import '../components/departments/departments.css';
@import '../components/whyUs/whyus.css';
@import '../components/cards/card.css';
@import '../components/featured-items/featured.css';
@import '../components/notice/notice';
@import '../components/special-items/special-items';
@import '../components/navlinks/navlinks.css';
@import '../components/product-details/product-details.css';
@import '../components/phonepage/phonepage.css';
@import '../components/searchbar/searchbar.css';

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  overflow-x: hidden;
  background-color: #f8f8f8;
}

.see-more{
  text-align: right;
  padding-top: 10px;
}

.see-more__link{
  color: orange;
  text-decoration: none;
  font-size: 1.25rem;
}